@charset "utf-8";
/* CSS Document */
body {
background-image:url(images/background.jpg);
}
header {
display:block;
position :relative;
width:100%;
height:auto;
float:left;
background-image:url(images/background.png);
border-radius: 0.5em;
box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;
margin-bottom: 1%;
}
nav {
display:block;
width:624px;
height:auto;
overflow:hidden;
margin:0 auto;
}
nav ul {
padding:1%;
float:left;
list-style: none;
background: rgba(068,068,068,.2);
border-radius: 0.5em;    
box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset; 
}
nav li {
float:left;
}
nav a {
float:left;
padding: .8em 1.5em;
text-decoration: none;
color: #555;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
font: bold 1.1em/1 'trebuchet MS', Arial, Helvetica;
letter-spacing: 1px;
text-transform: uppercase;
border-width: 1px;
border-style: solid;
border-color: #fff #ccc #999 #eee;
background: #c1c1c1;
background: linear-gradient(#f5f5f5, #c1c1c1);            
 } 
nav a:hover, nav a:focus {
outline: 0;
color: #fff;
text-shadow: 0 1px 0 rgba(0,0,0,.2);
background: #4C0000;
background: linear-gradient(#4C0000, #BC0000);
}
nav a:active {
box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
} 
nav li:first-child a {
border-left: 0;
border-radius: 4px 0 0 4px;            
}
nav li:last-child a {
border-right: 0;
border-radius: 0 4px 4px 0;            
}
article {
position :relative;
display:block;
width:69%;
height:auto;
float: left;
padding: 3%;
background: rgba(068,068,068,.2);
border-radius: 0.5em;
box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;
margin-top: 1%;
margin-bottom: 1%;
}
#sidebar {
position :relative;
display:block;
width:22%;
height:auto;
float: left;
padding: 1%;
background: rgba(068,068,068,.2);
border-radius: 0.5em;
box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;
margin-left:1%;
margin-top: 1%;
margin-bottom: 1%;
}
footer {
position :relative;
display:block;
width:100%;
height:auto;
float:left;
margin-top: 1%;
margin-bottom: 1%;
text-align: center;
background-image:url(images/background.png);
border-radius: 0.5em;
box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;
}
#wrapper {
width:90%;
height:auto;
padding:5%;
}
#logo {
position :relative;
height: 170px;
width:300px;
background-image:url(images/logo.png);
float: left;
}
#titlebar {
position :relative;
height: auto;
width:50%;
float:right;
text-align: right;
padding-top:120px;
}
#buttons {
position :relative;
width : 50%;
float:left;
}
h1 {
font-size: 17pt;
font-family: Times New Roman;
color: #FFFFFF;
text-align: center;
}
p {
font-size: 12pt;
font-family: Times New Roman;
color: #FFFFFF;
}
h2 {
font-size: 12pt;
font-family: Times New Roman;
color: #FFFFFF;
text-align: center;
}
input {
border-radius:0.5em;
}
textarea {
border-radius:0.5em;
}
select {
border-radius:0.5em;
}
.form {
width:100px;
margin:0 auto;
}
